
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
      <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='logo-1.png')}}", width="35px", height="30px", align='center'>C.A.R.E</a>
      <span class="navbar-text navText">Breast Cancer Prediction Tool</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav">
          <li class="nav-item ">
            <a class="nav-link active" href="/index2.html"><i class="fas fa-robot " ></i> Prediction <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/bills"><i class="fas fa-chart-pie"></i> Dashboard</a>
          </li>
  
        </ul>

      </div>
    </nav>