<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/js/main.js') }}"></script>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='dist/css/styles.css') }}">
<meta name="viewport"  content = "width=device-width, initial-scale=1.0, user-scalable=yes">
<script src="https://kit.fontawesome.com/a10c0e47f2.js" crossorigin="anonymous"></script>
<head>
</head>

<script>
    $(function() {
       $('#nav li a').click(function() {
          $('#nav li').removeClass();
          $($(this).attr('href')).addClass('active');
       });
    });
 </script>

<body class = "body fullscreen">

    

    <div class="navbar">
        <!-- code for navbar in nav.html -->
        {% include 'nav.html' %}
    </div>

    <!--<h1 class="site-title">Calculator</h1>-->

<br/>
<div class="calculator-form">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form action="/submit" method="post">                
                    
                    <div class="row form-header calculator_header">      
                        <div class="col-md-6 offset-md-1"> 
 
                            <h1 class="card-title ">Calculator</h1>
  
                        </div>   
                    </div>

                        <!-- new -->

                        <div class="row row_space">
                            <label for="Age" class="col-md-2 offset-md-1">Age at Diagnosis</label>        
                            <input type="text" class="form-control col-md-2 input-sm" name="Age_@_Dx" id="Age_@_Dx" placeholder="Age" required>
                       
                            <label for="size_precise" class="col-md-2 offset-md-2">Size Precise</label>
                            <input type="text" class="form-control col-md-2 input-sm" name="size_precise" id="size_precise" placeholder="Size Precise" required>
                        </div>

                        <div class="row  row_space">
                            <label for="nodespos" class="col-md-2 offset-md-1">Nodes Positive</label>        
                            <input type="text" class="form-control col-md-2" name="nodespos" id="nodespos" placeholder="Nodes Positive" required>

                            <label for="tstage" class="col-md-2 offset-md-2" >T Stage</label>
                            <select class="form-control col-md-2" name="tstage" id="tstage">
                                <option value="t0">T0</option>
                                <option value="t1">T1</option>
                                <option value="t1a">T1a</option>
                                <option value="t1b">T1b</option>
                                <option value="t1c">T1c</option>
                                <option value="t1mic">T1mic</option>
                                <option value="t2">T2</option>
                                <option value="t3">T3</option>
                                <option value="t4">T4</option>
                                <option value="t4a">T4a</option>
                                <option value="t4b">T4b</option>
                                <option value="t4c">T4c</option>
                                <option value="t4d">T4d</option>
                                <option value="tis">Tis</option>
                                <option value="tx">Tx</option>
                              </select>

                        </div>

                        <div class="row  row_space">
                            <label for="ER" class="col-md-2 offset-md-1">ER</label>

                            <select class="form-control col-md-2" name="ER" id="ER">
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>  
                                <option value="unknown">Unknown</option>
                                <option value="equivocal">Equivocal</option>
                            </select>

                                                           
                            <label for="nstage" class="col-md-2 offset-md-2">N Stage</label>
                            <select class="form-control col-md-2" name="nstage" id="nstage">
                                <option value="n0">N0</option>
                                <option value="n0 (i+)">N0 (i+)</option>
                                <option value="n1">N1</option>
                                <option value="n1a">N1a</option>
                                <option value="n1b">N1b</option>
                                <option value="n1c">N1c</option>
                                <option value="n1mic">N1mic</option>
                                <option value="n2">N2</option>
                                <option value="n2a">N2a</option>
                                <option value="n2b">N2b</option>
                                <option value="n3">N3</option>
                                <option value="n3a">N3a</option>
                                <option value="n3b">N3b</option>
                                <option value="n3c">N3c</option>
                                <option value="nx">Nx</option>
                            </select> 
                           

                        </div>

                        <div class="row  row_space">
                            <label for="PR" class="col-md-2 offset-md-1">PR</label>
                            <select class="form-control col-md-2" name="PR" id="PR">
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>  
                                <option value="unknown">Unknown</option>
                                <option value="equivocal">Equivocal</option>
                            </select>    

                            <label for="mstage" class="col-md-2 offset-md-2">M Stage</label>
                            <select class="form-control col-md-2" name="mStage" id="mStage">
                                <option value="m0">M0</option>
                                <option value="m1">M1</option>
                                <option value="mx">Mx</option>
                            </select>  

                        </div>

                        <div class="row  row_space">
                            <label for="Her2" class="col-md-2 offset-md-1">Her2</label>
                            <select class="form-control col-md-2" name="Her2" id="Her2">
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>
                                <option value="unknown">Unknown</option>
                                <option value="equivocal">Equivocal</option>
                                <option value="not done">Not done</option> 
                            </select>

                            <label for="diff" class="col-md-2 offset-md-2">Diff</label>
                            <select class="form-control col-md-2" name="diff" id="diff">
                                <option value="grade 1">Grade 1</option>
                                <option value="grade 2">Grade 2</option>
                                <option value="grade 3">Grade 3</option>
                                <option value="unknown">Unknown</option>
                            </select>           

                        </div>
                        
                        <div class="row  row_space">
                            <label for="stage" class="col-md-2 offset-md-1">Stage</label>
                            <select class="form-control col-md-2" name="stage" id="stage">
                                <option value="stage 0">Stage 0</option>
                                <option value="stage 1">Stage 1</option>
                                <option value="stage 1a">Stage 1a</option>
                                <option value="stage 1b">Stage 1b</option>
                                <option value="stage 2">Stage 2</option>
                                <option value="stage 2a">Stage 2a</option>
                                <option value="stage 2b">Stage 2b</option>
                                <option value="stage 3">Stage 3</option>
                                <option value="stage 3a">Stage 3a</option>
                                <option value="stage 3b">Stage 3b</option>
                                <option value="stage 3c">Stage 3c</option>
                                <option value="stage 4">Stage 4</option>
                                <option value="unknown">Unknown</option>
                                <option value="dcis/lcis non-invasive">Dcis/lcis non-invasive</option>   
                            </select>
                        </div>
        
                        <div class="form-group-row submit_design  row_space">
                            <div class="col-md-10 offset-md-1 submitContainer" align="center">
                                    <input type="submit" value="Calculate" class="submitButton">
                            </div>
                        </div>
              
              

                </div> 
        </form>
        </div>
        </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    <script type="text/javascript">

        $("a").click(function(){
            $("a").css("color", "");
            $(this).css("color", "white")
        }
        
        );
        
        </script>

            

</body>



</html>