<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='dist/css/styles.css') }}">
<meta name="viewport"  content = "width=device-width, initial-scale=1.0, user-scalable=yes">
<script src="https://kit.fontawesome.com/a10c0e47f2.js" crossorigin="anonymous"></script>
<head>
    <style>

    </style>
</head>

<body class = "body">
    <style>
        body {
            background-image: url('https://image.freepik.com/free-photo/doctor-holding-stethoscope_23-2147822716.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            

        }
    </style>
    <div class="navBar">
            {% include 'nav.html' %}
    </div>
    
    <div class="container">
        <header class="masthead ">
            <div class="container landing-design">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">

                    
                        <h1 class="text-uppercase text-white font-weight-bolder landing-text" font color:"black" >C.A.R.E Prediction Tool</h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5"></p>
                        <div class="col-md-10 offset-md-1 startContainer" >
                            <a class="landing_button" href="/index2.html">START</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>   
    </div>
</body>


</html>