<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='dist/css/styles.css') }}">
<meta name="viewport"  content = "width=device-width, initial-scale=1.0, user-scalable=yes">
<script src="https://kit.fontawesome.com/a10c0e47f2.js" crossorigin="anonymous"></script>
<head>
</head>

<body class = "body fullscreen">

    

    <div class="navbar">
        {% include 'nav.html' %}
    </div>

    <h1 class="site-title">Calculator</h1>

<br/>
<div class="calculator-form">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form action="/submit" method="post">                
                    
                    <div class="row form-header">      
                        <div class="col-md-6 offset-md-1"> 
                        <h1 class="card-title">Calculator</h1>
                        </div>   
                    </div>

                    <div class="row">
                        <label for="Age" class="col-md-2 offset-md-1">Age at Diagnosis</label>        
                            <!--<input type="text" class="form-control textBox" name="Age_@_Dx" id="Age_@_Dx" placeholder="Age" required>-->
                            <input type="text" class="form-control col-md-2" name="Age_@_Dx" id="Age_@_Dx" placeholder="Age">

                        
                    
                        <label for="gender" class="col-md-2 offset-md-1">Gender</label>
                        <div class="col-md-2">
                            <input type="radio" id="male" name="gender" value="male        ">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </div>
                    </div>


                    <div class="row">
                        <label for="nodespos" class="col-md-2 offset-md-1">Nodes Positive</label>        
                            <input type="text" class="form-control col-md-2" name="nodespos" id="nodespos" placeholder="Nodes Positive" required>
        
                        <label for="size_precise" class="col-md-2 offset-md-1">Size Precise</label>
                            <input type="text" class="form-control col-md-2" name="size_precise" id="size_precise" placeholder="size_precise" required>
                    </div>

                    <div class="form-group row">                   
                        <label for="tstage" class="col-md-2 offset-md-1" >T Stage</label>
                        <select class="form-control col-md-2" name="tstage" id="tstage">
                                <option value="t0">T0</option>
                                <option value="t1">T1</option>
                                <option value="t1a">T1a</option>
                                <option value="t1b">T1b</option>
                                <option value="t1c">T1c</option>
                                <option value="t1mic">T1mic</option>
                                <option value="t2">T2</option>
                                <option value="t3">T3</option>
                                <option value="t4">T4</option>
                                <option value="t4a">T4a</option>
                                <option value="t4b">T4b</option>
                                <option value="t4c">T4c</option>
                                <option value="t4d">T4d</option>
                                <option value="tis">Tis</option>
                                <option value="tx">Tx</option>
                              </select>
                    
                            <label for="ER" class="col-md-2 offset-md-1">ER</label>

                                <select class="form-control col-md-2" name="ER" id="ER">
                                    <option value="positive">Positive</option>
                                    <option value="negative">Negative</option>  
                                    <option value="unknown">Unknown</option>
                                    <option value="equivocal">Equivocal</option>
                                </select>
                        </div>
        
        
                        <div class="form-group row">
        
                            <label for="nstage" class="col-md-2 offset-md-1">N Stage</label>
                                <select class="form-control col-md-2" name="nstage" id="nstage">
                                        <option value="n0">N0</option>
                                        <option value="n0 (i+)">N0 (i+)</option>
                                        <option value="n1">N1</option>
                                        <option value="n1a">N1a</option>
                                        <option value="n1b">N1b</option>
                                        <option value="n1c">N1c</option>
                                        <option value="n1mic">N1mic</option>
                                        <option value="n2">N2</option>
                                        <option value="n2a">N2a</option>
                                        <option value="n2b">N2b</option>
                                        <option value="n3">N3</option>
                                        <option value="n3a">N3a</option>
                                        <option value="n3b">N3b</option>
                                        <option value="n3c">N3c</option>
                                        <option value="nx">Nx</option>
                                    </select>     
                          
                            <label for="PR" class="col-md-2 offset-md-1">PR</label>
                                <select class="form-control col-md-2" name="PR" id="PR">
                                    <option value="positive">Positive</option>
                                    <option value="negative">Negative</option>  
                                    <option value="unknown">Unknown</option>
                                    <option value="equivocal">Equivocal</option>
                                </select>                             
                        </div>
        
        
                        <div class="form-group row">
        
                            <label for="mstage" class="col-md-2 offset-md-1">M Stage</label>


                                <select class="form-control col-md-2" name="mStage" id="mStage">
                                    <option value="m0">M0</option>
                                    <option value="m1">M1</option>
                                    <option value="mx">Mx</option>
                                    </select>   
        
                            <label for="cerbB2" class="col-md-2 offset-md-1">cerbB2</label>

                                <select class="form-control col-md-2" name="cerbB2" id="cerbB2">
                                    <option value="positive">Positive</option>
                                    <option value="negative">Negative</option>
                                    <option value="unknown">Unknown</option>
                                    <option value="equivocal">Equivocal</option>
                                    <option value="nan">NAN</option>
                                </select>  
                                
                        </div>
        
        
                        <div class="form-group row">
        
                            <label for="c_tstage" class="col-md-2 offset-md-1">c_tstage</label>

                                <select class="form-control col-md-2" name="c_tstage" id="c_tstage">
                                    <option value="t0">T0</option>
                                    <option value="t1">T1</option>
                                    <option value="t1a">T1a</option>
                                    <option value="t1b">T1b</option>
                                    <option value="t1c">T1c</option>
                                    <option value="t1mic">T1mic</option>
                                    <option value="t2">T2</option>
                                    <option value="t3">T3</option>
                                    <option value="t4">T4</option>
                                    <option value="t4a">T4a</option>
                                    <option value="t4b">T4b</option>
                                    <option value="t4c">T4c</option>
                                    <option value="t4d">T4d</option>
                                    <option value="tis">Tis</option>
                                    <option value="tx">Tx</option>
                                </select>  

                          
                            <label for="Her2" class="col-md-2 offset-md-1">Her2</label>
                            <select class="form-control col-md-2" name="Her2" id="Her2">
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>
                                <option value="unknown">Unknown</option>
                                <option value="equivocal">Equivocal</option>
                                <option value="not done">Not done</option> 
                            </select>               
        
                        </div>
        
        
                        <div class="form-group row">
                            <label for="cNstage" class="col-md-2 offset-md-1">cNstage</label>

                                <select class="form-control col-md-2" name="cNstage" id="cNstage">
                                    <option value="n0">N0</option>
                                    <option value="n1">N1</option>
                                    <option value="n2">N2</option>
                                    <option value="n2a">N2a</option>
                                    <option value="n2b">N2b</option>
                                    <option value="n3">N3</option>
                                    <option value="n3a">N3a</option>
                                    <option value="n3b">N3b</option>
                                    <option value="n3c">N3c</option>
                                    <option value="nx">Nx</option>
                                    <option value="unknown">Unknown</option> 
                                </select>  
        
                            <label for="diff_grade" class="col-md-2 offset-md-1">Diff</label>

                            <select class="form-control col-md-2" name="Diff" id="Diff">
                                <option class="optionDesign" value="grade 1">Grade 1</option>
                                <option class="optionDesign" value="grade 2">Grade 2</option>
                                <option class="optionDesign" value="grade 3">Grade 3</option>
                                <option class="optionDesign" value="unknown">unknown</option>
                            </select>  
                        </div>   
        
                        <div class="form-group row">
        
                            <label for="cMstage" class="col-md-2 offset-md-1">cMstage</label>


                                <select class="form-control col-md-2" name="cMstage" id="cMstage">
                                    <option value="m0">M0</option>
                                    <option value="m1">M1</option>
                                    <option value="m1a">M1a</option>
                                    <option value="mx">Mx</option>
                                </select> 
        
                            <label for="AJCC8" class="col-md-2 offset-md-1">ProgStage AJCC8</label>
                                
                                <select class="form-control col-md-2" name="ProgStage_AJCC8" id="ProgStage_AJCC8">
                                        <option value="stage 0">Stage 0</option>
                                        <option value="stage ia">Stage ia</option>
                                        <option value="stage ib">Stage ib</option>
                                        <option value="stage iia">Stage iia</option>
                                        <option value="stage iib">Stage iib</option>
                                        <option value="stage iiia">Stage iiia</option>
                                        <option value="stage iiib">Stage iiib</option>
                                        <option value="stage iiic">Stage iiic</option>
                                        <option value="stage iv">Stage iv</option>
                                        <option value="nan">nan</option>
                                    </select> 
                                
                        </div>
        
                        <div class="form-group row">
                            <label for="tnm_stage" class="col-md-2 offset-md-1">TNM Stage</label>
                                <select class="form-control col-md-2" name="TNM_Stage" id="TNM_Stage">
                                        <option value="stage 0">Stage 0</option>
                                        <option value="stage 1">Stage 1</option>
                                        <option value="stage 1a">Stage 1a</option>
                                        <option value="stage 1b">Stage 1b</option>
                                        <option value="stage 2">Stage 2</option>
                                        <option value="stage 2a">Stage 2a</option>
                                        <option value="stage 2b">Stage 2b</option>
                                        <option value="stage 3">Stage 3</option>
                                        <option value="stage 3a">Stage 3a</option>
                                        <option value="stage 3b">Stage 3b</option>
                                        <option value="stage 3c">Stage 3c</option>
                                        <option value="stage 4">Stage 4</option>
                                        <option value="unknown">unknown</option>
                                        <option value="dcis/lcis non-invasive">dcis/lcis non-invasive</option>       
                                    </select> 
        
                            <label for="cstage" class="col-md-2 offset-md-1">C Staging</label>

                                <select class="form-control col-md-2" name="c_Staging" id="c_Staging">
                                        <option value="stage 0">Stage 0</option>
                                        <option value="stage 1">Stage 1</option>
                                        <option value="stage 1a">Stage 1a</option>
                                        <option value="stage 1b">Stage 1b</option>
                                        <option value="stage 2">Stage 2</option>
                                        <option value="stage 2a">Stage 2a</option>
                                        <option value="stage 2b">Stage 2b</option>
                                        <option value="stage 3">Stage 3</option>
                                        <option value="stage 3a">Stage 3a</option>
                                        <option value="stage 3b">Stage 3b</option>
                                        <option value="stage 3c">Stage 3c</option>
                                        <option value="stage 4">Stage 4</option>
                                        <option value="unknown">unknown</option>
                                        <option value="dcis/lcis non-invasive">dcis/lcis non-invasive</option>      
                                    </select>
                            
                        </div>
        
                        <div class="form-group row">
        
                                <label for="pstage" class="col-md-2 offset-md-1">P Staging</label>
                                    <select class="form-control col-md-2" name="p_Staging" id="p_Staging">
                                            <option value="stage 0">Stage 0</option>
                                            <option value="stage 1">Stage 1</option>
                                            <option value="stage 1a">Stage 1a</option>
                                            <option value="stage 1b">Stage 1b</option>
                                            <option value="stage 2">Stage 2</option>
                                            <option value="stage 2a">Stage 2a</option>
                                            <option value="stage 2b">Stage 2b</option>
                                            <option value="stage 3">Stage 3</option>
                                            <option value="stage 3a">Stage 3a</option>
                                            <option value="stage 3b">Stage 3b</option>
                                            <option value="stage 3c">Stage 3c</option>
                                            <option value="stage 4">Stage 4</option>
                                            <option value="unknown">unknown</option>
                                            <option value="dcis/lcis non-invasive">dcis/lcis non-invasive</option>  
                                        </select>
        
        
                        </div>
        
                        <br/>
        
                        
        
                        <div class="form-group-row">
                            <div class="col-md-10 offset-md-1 submitContainer" align="center">
                                    <input type="submit" value="Calculate" class="submitButton">
                            </div>
                        </div>
              
              

                </div>
        </form>
        </div>
        </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>


</html>